<app-header
  [navbarBrandRouterLink]="['/dash/albums']"
  [fixed]="true"
  [sidebarToggler]="'lg'"
  [mobileAsideMenuToggler]="false"
  [asideMenuToggler]="false">
  <ul class="nav navbar-nav ml-auto"></ul>
  <ul class="nav navbar-nav ml-auto">
    <button class="btn btn-outline-primary my-2 my-sm-0" type="button" (click)="general.navigate('/home', null)">Frontend</button>
  </ul>
</app-header>
<div class="app-body">
  <app-sidebar #appSidebar [fixed]="true" [display]="'lg'" [minimized]="sidebarMinimized" (minimizedChange)="toggleMinimize($event)">
    <app-sidebar-nav [navItems]="navItems" [perfectScrollbar] [disabled]="appSidebar.minimized"></app-sidebar-nav>
    <app-sidebar-minimizer></app-sidebar-minimizer>
  </app-sidebar>
  <main class="main">
    <div class="top-fix"></div>
    <div class="container-fluid">
      <router-outlet></router-outlet>
    </div>
  </main>
</div>
